@import '../bower_components/brick-common/styles/mixins'
@import '../bower_components/brick-common/styles/params'

:host {
  flexbox();
  ::content {
    label {
      align-self: center;
    }
    label+*{
      flex(1);
    }
  }
}